{% extends 'article/base.html' %}

{% block content %}


<div class="col-md-12">
	{% for p in posts %}
	<div class="blog-entry ftco-animate d-md-flex">
<!--		<a href="single.html" class="img img-2" src="{{p.photo.url}}"></a>-->

		{% if p.photo %}
	<p><img class="img img-2" src="{{p.photo.url}}"></p>
{% endif %}

		<div class="text text-2 p-4">
			<h3 class="mb-2"><a href="single.html">{{p.title}}</a></h3>
			<div class="meta-wrap">
				<p class="meta">
					<span>Дата: {{p.time_update|date:"d-m-Y"}}</span>
					<span><a href="single.html">Категория: {{p.cat}}</a></span>
				</p>
			</div>
			<p class="mb-4">
				{% autoescape on %}
				{{p.content|linebreaks|truncatewords:20}}
				{% endautoescape %}</p>
			<p><a href="{{ p.get_absolute_url }}" class="btn-custom">Читать пост <span
					class="ion-ios-arrow-forward"></span></a></p>
		</div>
	</div>
	{% endfor %}
</div>


{% endblock %}




